*,
::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "IBM Plex Mono", monospace;
}

section {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: white;
  filter: blur(1px); /* Efek blur */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  backdrop-filter: none;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  background-color: tomato;
}

.navbar.scrolled {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 99, 71, 0.9);
}

.nav-links a {
  position: relative;
  color: whitesmoke;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: blueviolet;
}

.logo {
  color: wheat;
  font-size: 20px;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  color: yellow;
  cursor: pointer;
}

/* Home section */
.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 250px;
  flex-wrap: wrap;
}

.text-box {
  max-width: 500px;
  padding: 30px;
  background: #00ccf5;
  border: 8px solid black;
  box-shadow: 8px 8px 0 black;
  transition: all 0.3s ease;
}

.text-box:hover {
  background: transparent;
  border: 8px solid yellowgreen;
  transform: translateY(-7px);
}

.whoami {
  color: seagreen;
  margin-bottom: 15px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

.danill {
  color: wheat;
}

.kifly {
  color: blueviolet;
}

.roles {
  margin-top: 15px;
  color: navy;
}

.code {
  margin-top: 15px;
  color: darkmagenta;
  font-weight: bold;
}

.features {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.cardG {
  background: #00cc44;
  width: 220px;
  padding: 1rem;
  border: 5px solid black;
  box-shadow: 7px 7px 0 black;
  text-align: center;
  transition: transform 0.3s ease;
}

.cardG:hover {
  border: 5px solid hotpink;
  transform: translateY(-7px);
}

.card p {
  font-size: 1rem;
  font-weight: 700;
}

.cardO {
  background: #ff7f00;
  width: 140px;
  padding: 1rem;
  border: 5px solid black;
  box-shadow: 7px 7px 0 black;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cardO:hover {
  border: 5px solid gainsboro;
  transform: translateY(-7px);
}

.photo-box {
  overflow: hidden;
  width: 250px;
  height: 250px;
  border: 8px solid yellow;
  box-shadow: 10px 10px 0 black;
}

.photo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
}

.photo-box img:hover {
  filter: none;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 15px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    gap: 20px;
    right: 20px;
    background: tomato;
    padding: 15px;
    border: 6px solid black;
    box-shadow: 8px 8px 0 black;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .home {
    padding: 100px 20px 0 10px;
    flex-direction: row;
    gap: 10px;
  }
}

.about {
  padding-top: 80px;
}

.judul {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.github-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.github-card {
  padding: 20px;
  background-color: bisque;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 6px solid black;
  box-shadow: 8px 8px 0 black;
}

.github-card:hover {
  background-color: aqua;
  transform: translateY(-7px);
}

.github-card h3 {
  margin-bottom: 16px;
  color: darkslategray;
  font-weight: 600;
  font-size: 1.3rem;
}

.github-profile,
.github-contributions {
  text-align: center;
}

.github-profile img {
  width: 350px;
  height: 140px;
  transition: transform 0.2s ease;
}

.github-contributions img {
  width: 800px;
  height: 140px;
}

.github-profile img:hover {
  transform: scale(1.02);
}

.contributions-scroll {
  overflow-x: auto;
  max-width: 100%;
}

.contributions-scroll img {
  min-width: 600px;
  height: auto;
  display: block;
}

.contributions-scroll::-webkit-scrollbar {
  height: 7px;
  background-color: darkcyan;
}

.contributions-scroll::-webkit-scrollbar-thumb {
  background: yellowgreen;
}

@media (max-width: 768px) {
  .github-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 20px 0 10px;
  }

  .github-card {
    width: 100%;
  }

  .github-profile img {
    width: 300px;
    height: 120px;
    transition: transform 0.2s ease;
  }

  .github-profile,
  .github-contributions h3 {
    font-size: 1em;
  }
}

.networks {
  padding-top: 80px;
}

.networks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.networks-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 30px 20px;
  transition: transform 0.2s ease;
  cursor: pointer;
  border: 6px solid black;
  box-shadow: 8px 8px 0 black;
}

.networks-card:hover {
  background: transparent;
  transform: translateY(-7px);
  border: 6px solid gold;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.icon img {
  width: 22px;
  height: 22px;
}

.text {
  flex-grow: 1;
}

.text h3 {
  margin: 0;
  font-size: 1.1em;
  font-weight: bold;
  color: #111;
}

.text p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}

.arrow {
  font-size: 1em;
  color: white;
  padding: 6px 11px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .networks {
    height: fit-content;
  }

  .networks-container {
    padding: 0 20px 0 10px;
  }
}

.contact {
  padding-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  gap: 40px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: gold;
  border: 6px solid black;
  box-shadow: 8px 8px 0 black;
  padding: 50px 200px;
  transition: all 0.3s ease;
}

.question:hover {
  border: 6px solid steelblue;
  background: transparent;
  transform: translateY(-7px);
}

.question h5 {
  font-size: 0.9em;
  color: purple;
}

.question h3 a {
  color: green;
}

.question h3:hover {
  text-decoration: underline royalblue;
}

.contact-social {
  display: flex;
  gap: 30px;
}

.contact-social img {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .contact-container {
    padding: 0 20px 0 10px;
  }

  .question {
    padding: 20px;
  }
}

footer {
  position: fixed;
  bottom: 5px;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.by {
  padding: 10px;
  border: 4px solid black;
  box-shadow: 6px 6px 0 black;
}

@media screen and (max-width: 768px) {
  footer {
    bottom: 0;
  }

  .by {
    padding: 6px;
    font-size: 10px;
  }
}
